// This file is maintained by Ansible, changes will be automatically overwritten ({{ ansible_date_time.date }})

include "/etc/bind/named.conf.options";
include "/etc/bind/named.conf.local";
include "/etc/bind/named.conf.acl";
include "/etc/bind/named.conf.default-zones";