// This file is maintained by Ansible, changes will be automatically overwritten ({{ ansible_date_time.date }})

acl "internals" {
        127.0.0.1/32;
        172.16.400.0/24;
        172.17.400.0/24;
};