# This file is maintained by Ansible, changes will be automatically overwritten ({{ ansible_date_time.date }})

127.0.0.1           {{ hostname }}.domain {{ hostname }} localhost
{{ansible_host}}    {{ hostname }}.domain {{ hostname }} localhost