#!/usr/sbin/nft -f

flush ruleset

define lan_addr = { 172.17.400.0/24, 172.16.400.0/24 }

table inet firewall {
        chain input {
                type filter hook input priority filter; policy drop;

                iifname lo accept
                tcp dport { 22 } ct state new counter packets 0 bytes 0 accept
                ct state { established, related } accept
                ip saddr $lan_addr ct state new accept

                ip protocol icmp icmp type {
                        echo-reply,  # type 0
                        destination-unreachable,  # type 3
                        echo-request,  # type 8
                        time-exceeded,  # type 11
                        parameter-problem,  # type 12
                } accept
        }
        chain forward {
                type filter hook forward priority filter; policy drop;

                iifname lo accept
                ct state { established, related } accept
                ip saddr $lan_addr ct state new accept
        }
        chain output {
                type filter hook output priority filter; policy drop;

                oifname lo accept
                ct state { established, related } accept
                ip saddr $lan_addr ct state new accept
        }
}